$primary-text:rgba(82, 82, 82, 1);
$primary-text-hover:rgba(29, 165, 153, 1);
$primary-button:#FFC265;
$primary-text-hover-btn:#FFC265;
$primary-button-hover:#C1FFFA;
$primary-bg-one:#FFFFFF;
$primary-title-bg:#C1FFFA;
$bg:#1da599;
$section-bg:#F3FFFE;
$button-font-family:'Nunito';
$text-font-family:'Kufam';

